* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    
}

#sketchboard {
    width: 360px;
    height: 360px;
    display: flex;
    flex-direction: column;
}

.column {
    flex: 1;
    display: flex;
}

.grid {
    flex: 1;
    border: solid black 1px;
}