body {
    margin: 0;
    box-sizing: border-box;
}

.grid-item {
    flex: 1;
    border: 1px solid black;
}

.grid-row {
    flex: 1;
    display: flex;
}

#grid-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

#main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}